.lightLogo {
    height: 32px;
    width: 32px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.lightName {
    height: 27.19999885559082px;
    width: 125.12000274658203px;
    left: 38.399993896484375px;
    top: 1.600006103515625px;
    border-radius: 0px;

}